<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="M1.SelfBatis.Dao.UserMapper">
    <select id="findAllUsers" resultType="M1.SelfBatis.Entity.User">
        select * from user;
    </select>
</mapper>